.ms_dark-background {
    background: rgb(44,61,80);
}
.ms_dark-background_light {
    background: rgb(57,84,109);
}
.ms_aqua-background {
    background: rgb(26,188,156);
}
.ms_max-width-container {
    max-width: 1000px;
}